<header>
    <div class="header-area ">
        <div id="sticky-header" class="header-area-none-bg fixed-top">
            <div class="container-fluid ">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <a href="../index.html">
                                    <img src="~/img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="d-none d-lg-block">
                                    <a class="boxed-btn1" asp-action="Register" asp-controller="System">Đăng ký</a>
                                </div>
                                <div class="d-none d-lg-block">
                                    <a class="boxed-btn3" asp-action="Login" asp-controller="System">Đăng nhập</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
