@{
    Layout = "_LayoutEmployee";
    ViewData["Title"] = "Company_intro";
}

<!-- BEGIN: Content-->
<div class="content-body">
    <div class="row">
        <div class="card pt-2">
            <div class="card-header d-flex justify-content-between align-items-center border-info rounded p-0 bg-main">
                <h4 class="card-title text-info text-center fw-bolder flex-grow-1 mb-0 p-1">THÔNG TIN NHÀ TUYỂN DỤNG</h4>
            </div>
            <div class="card-body py-2 pt-0 my-25">
                <!-- thông tin cơ bản -->
                <form class="validate-form mt-2">
                    <h4 class="card-title text-info text-uppercase">THÔNG TIN CƠ BẢN</h4>
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-1">
                            <div class="border-wrapper">
                                <label class="fw-bolder label">Tên công ty</label>
                                <span class="text-value">CÔNG TY TNHH ÁNH DƯƠNG THÁI BÌNH</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 mb-1">
                            <div class="border-wrapper">
                                <label class="fw-bolder label">Loại hình công ty</label>
                                <span class="text-value">CÔNG TY TNHH HAI THÀNH VIÊN TRỞ LÊN</span>
                            </div>
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <label class="form-label fw-bolder">Mô hình doanh nghiệp</label>
                            <input type="text" class="form-control" value="Công ty mẹ" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <label class="form-label fw-bolder">Địa chỉ kinh doanh</label>
                            <input type="text" class="form-control" value="TP.Hồ Chí Minh" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <label class="form-label fw-bolder">Số lượng nhân viên</label>
                            <input type="text" class="form-control" value="Dưới 20" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <label class="form-label fw-bolder">Hệ thống chất lượng</label>
                            <input type="text" class="form-control" value="• ISO 9001" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <label class="form-label fw-bolder">Loại hình kinh doanh</label>
                            <input type="text" class="form-control" value="Dịch vụ" />
                        </div>
                        <div class="col-9 col-md-9 mb-1">
                            <label class="form-label fw-bolder">Lĩnh vực kinh doanh</label>
                            <input type="text" class="form-control" value="• Bất động sản • Xây dựng" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="Nông nghiệp" />
                        </div>
                        <div class="col-9 col-md-9 mb-1">
                            <input type="text" class="form-control" value="• Trồng trọt • Chăn nuôi • Thủy sản" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="Thương mại" />
                        </div>
                        <div class="col-9 col-md-9 mb-1">
                            <input type="text" class="form-control" value="• Bán lẻ • Bán buôn" />
                        </div>

                    </div>
                </form>

                <!-- thông tin bổ sung -->
                <form class="validate-form mt-2">
                    <h4 class="card-title text-info text-uppercase">THÔNG TIN BỔ SUNG</h4>
                    <div class="row">
                        <div class="col-3 col-md-3 mb-1">
                            <label class="form-label fw-bolder">Đơn vị trực thuộc</label>
                            <input type="text" class="form-control" value="Chi nhánh" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <label class="form-label fw-bolder">Địa chỉ kinh doanh</label>
                            <input type="text" class="form-control" value="TP.Hồ Chí Minh" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <label class="form-label fw-bolder">Số lượng nhân viên</label>
                            <input type="text" class="form-control" value="Dưới 10" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <label class="form-label fw-bolder">Hệ thống chất lượng</label>
                            <input type="text" class="form-control" value="• ISO 22000 • ISO 14000" />
                        </div>

                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="Công ty con" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="Tỉnh Bình Định" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="Dưới 60" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="• VietGAP" />
                        </div>

                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="Nhà máy" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="Tỉnh Hà Nam" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="Dưới 20" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="• ISO 22000 • ISO 14000" />
                        </div>

                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="Văn phòng đại diện" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="TP.Hồ Chí Minh" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="Dưới 10" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="• ISO 14000 • HACCP" />
                        </div>

                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="Văn phòng đại diện" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="TP.Hồ Chí Minh" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="Dưới 70" />
                        </div>
                        <div class="col-3 col-md-3 mb-1">
                            <input type="text" class="form-control" value="• HACCP" />
                        </div>
                    </div>
                </form>
                <!--/ form -->
            </div>
        </div>
    </div>
</div>