@{
    Layout = "_LayoutEmployee";
    ViewData["Title"] = "Comapny_staff";
}

<!-- BEGIN: Content-->
<div class="content-body">
    <section id="basic-and-outline-pills">
        <div class="row match-height">
            <!-- Basic pills starts -->
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header" style="border-bottom: none  !important;">
                        <h4 class="card-title text-uppercase text-info">Quản lý nhân viên</h4>
                    </div>
                    <div class="card-body">
                        <div class="content-body">
                            <section class="app-user-list">
                                <div class="card">
                                    <div class="card-datatable table-responsive pt-0">
                                        <table class="user-list-table table">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Tên nhân viên</th>
                                                    <th>Số CVID</th>
                                                    <th>Chức danh</th>
                                                    <th>Chức vụ</th>
                                                    <th>Trạng thái làm việc</th>
                                                    <th>Duyệt đơn nghỉ việc</th>
                                                    <th>Yêu cầu</th>
                                                    <th>Đánh giá</th>
                                                    <th class="text-center">Thông tin chi tiết</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="9" class="text-center">Chưa có nhân viên nào</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>

                        </div>

                    </div>
                </div>
            </div>
            <!-- Basic pills ends -->
        </div>
    </section>

</div>