@{
    Layout = "_LayoutEmployee";
    ViewData["Title"] = "Company_department";
}

<!-- BEGIN: Content-->
<div class="content-body">
    <section id="basic-and-outline-pills">
        <div class="row match-height">
            <!-- Basic pills starts -->
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header" style="border-bottom: none  !important;">
                        <h4 class="card-title text-uppercase text-info">Quản lý Đơn vị tuyển dụng trực thuộc</h4>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-pills justify-content-between">
                            <li class="nav-item w-50">
                                <a class="nav-link border fw-bolder text-uppercase active" id="danhsachphongban-tab" data-bs-toggle="pill" href="#danhsachphongban" aria-expanded="true">Danh sách phòng ban</a>
                            </li>
                            <li class="nav-item w-50">
                                <a class="nav-link border fw-bolder text-uppercase" id="danhsachdonvitructhuoc-tab" data-bs-toggle="pill" href="#danhsachdonvitructhuoc" aria-expanded="false">Danh sách đơn vị trực thuộc</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="danhsachphongban" aria-labelledby="danhsachphongban-tab" aria-expanded="true">
                                <div class="content-body">
                                    <section class="app-user-list">
                                        <div class="card">
                                            <div class="card-datatable table-responsive pt-0">
                                                <table class="user-list-table table">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th>Tên đơn vị</th>
                                                            <th>Người quản lý</th>
                                                            <th>Quyền tuyển dụng</th>
                                                            <th>Email</th>
                                                            <th>Số điện thoại</th>
                                                            <th>Trạng thái</th>
                                                            <th class="text-center">Thao tác</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Phòng HR</td>
                                                            <td>Nhật Duật</td>
                                                            <td>Tuyển độc lập</td>
                                                            <td>nhatduat1@gmail.com</td>
                                                            <td>0373767570</td>
                                                            <td>Chưa tuyển dụng</td>
                                                            <td class="text-center">
                                                                <button class="btn btn-info">Sửa</button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Phòng Dev</td>
                                                            <td>Duật</td>
                                                            <td>Công ty mẹ đại diện</td>
                                                            <td>nhatduat1@gmail.com</td>
                                                            <td>0373767570</td>
                                                            <td>Chưa tuyển dụng</td>
                                                            <td class="text-center">
                                                                <button class="btn btn-info">Sửa</button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="company-manage-jobs.html" class="text-info">Phòng test 2/10</a></td>
                                                            <td>Duật</td>
                                                            <td>Công ty mẹ đại diện</td>
                                                            <td>nhatduat1@gmail.com</td>
                                                            <td>0373767570</td>
                                                            <td>Chưa tuyển dụng</td>
                                                            <td class="text-center">
                                                                <button class="btn btn-info">Sửa</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </section>

                                </div>
                            </div>
                            <div class="tab-pane" id="danhsachdonvitructhuoc" role="tabpanel" aria-labelledby="danhsachdonvitructhuoc-tab" aria-expanded="false">
                                <div class="content-body">
                                    <section class="app-user-list">
                                        <div class="card">
                                            <div class="card-datatable table-responsive pt-0">
                                                <table class="user-list-table table">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th>Tên đơn vị</th>
                                                            <th>Người quản lý</th>
                                                            <th>Quyền tuyển dụng</th>
                                                            <th>Email</th>
                                                            <th>Số điện thoại</th>
                                                            <th>Trạng thái</th>
                                                            <th class="text-center">Thao tác</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Văn phòng đại diện tại TP.Hồ Chí Minh</td>
                                                            <td>Duật ABC</td>
                                                            <td>Tuyển độc lập</td>
                                                            <td>nhatduat1@gmail.com</td>
                                                            <td>0373767570</td>
                                                            <td>Chưa tuyển dụng</td>
                                                            <td class="text-center">
                                                                <button class="btn btn-info">Sửa</button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Công ty con tại Tỉnh Bình Định</td>
                                                            <td>Duật</td>
                                                            <td>Công ty mẹ đại diện</td>
                                                            <td>nhatduat1@gmail.com</td>
                                                            <td>0373767570</td>
                                                            <td>Không có yêu cầu</td>
                                                            <td class="text-center">
                                                                <button class="btn btn-info">Sửa</button>
                                                                <button class="btn btn-danger">Xóa</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </section>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Basic pills ends -->
        </div>
    </section>

</div>