@{
    Layout = "_LayoutEmployee";
    ViewData["Title"] = "Job_detail";
}

<!-- BEGIN: Content-->
<div class="content-body">
    <section id="modal-examples">
        <div class="card">
            <div class="row px-2">
                <div class="col-md-12 col-12 p-2 pb-0">
                    <div class="card-header border border-info rounded p-1 bg-main">
                        <h4 class="card-title text-uppercase text-info mb-0 ms-2">Các yêu cầu cho chức danh tuyển dụng</h4>
                    </div>
                    <div class="card-body py-2 pb-0 px-0 my-25">
                        <div class="row">
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="border-wrapper">
                                    <label class="fw-bolder label">Chức danh công việc</label>
                                    <span class="text-value">Kỹ sư phát triển back-end</span>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="border-wrapper">
                                    <label class="fw-bolder label">Số lượng cần tuyển</label>
                                    <span class="text-value">3 nhân viên</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="border-wrapper">
                                    <label class="fw-bolder label">Vị trí làm việc</label>
                                    <span class="text-value">Nhân viên</span>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="border-wrapper">
                                    <label class="fw-bolder label">Kinh nghiệm làm việc</label>
                                    <span class="text-value">Không yêu cầu kinh nghiệm</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="border-wrapper">
                                    <label class="fw-bolder label">Vị trí làm việc</label>
                                    <span class="text-value">Nhân viên</span>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="border-wrapper">
                                    <label class="fw-bolder label">Kinh nghiệm làm việc</label>
                                    <span class="text-value">Không yêu cầu kinh nghiệm</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="d-flex flex-column h-100">
                                    <div class="border-wrapper flex-grow-1">
                                        <label class="fw-bolder label">Chuyên ngành chính</label>
                                        <span class="text-value">Công nghệ thông tin</span>
                                    </div>
                                    <div class="border-wrapper flex-grow-1 mt-2">
                                        <label class="fw-bolder label">Cấp bậc</label>
                                        <span class="text-value">Đại học</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="border-wrapper h-100">
                                    <label class="fw-bolder label">Lĩnh vực làm việc</label>
                                    <div class="text-value d-flex flex-column justify-content-center">
                                        <span class="text-value">• Mạng máy tính và an ninh mạng</span>
                                        <span class="text-value">• Công nghệ phần mềm</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="border-wrapper">
                                    <label class="fw-bolder label">Loại hình làm việc</label>
                                    <span class="text-value">Nông nghiệp</span>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="border-wrapper">
                                    <label class="fw-bolder label">Bộ phận làm việc</label>
                                    <span class="text-value"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="border-wrapper h-100">
                                    <label class="fw-bolder label">Loại hình và thời gian làm việc</label>
                                    <span class="text-value">Theo ca bất định</span>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="border-wrapper h-100">
                                    <label class="fw-bolder label">Hình thức làm việc</label>
                                    <span class="text-value">Hybrid</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="border-wrapper">
                                    <label class="fw-bolder label">Làm việc cho</label>
                                    <span class="text-value">Cơ sở</span>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="border-wrapper">
                                    <label class="fw-bolder label">Địa chỉ làm việc</label>
                                    <span class="text-value">TP.Cần Thơ</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="border-wrapper h-100">
                                    <label class="fw-bolder label">Ngôn ngữ làm việc chính</label>
                                    <span class="text-value">Tiếng Nhật</span>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 mb-1">
                                <div class="border-wrapper h-100">
                                    <label class="fw-bolder label">Ngôn ngữ làm việc bổ sung</label>
                                    <span class="text-value"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-6 p-2 pb-0">
                    <div class="card-header border border-info rounded p-0 bg-main">
                        <h4 class="card-title text-uppercase text-info mb-0 ms-2">Thông tin người quản lý tài khoản</h4>
                        <button type="button" class="btn user-edit text-info" data-bs-toggle="modal" data-bs-target="#editUser">
                            <i data-feather="edit"></i> Edit
                        </button>
                    </div>
                    <div class="card-body py-2 pb-0 px-0 my-25">
                        <div class="row">
                            <div class="col-12 col-sm-12 mb-1">
                                <div class="border-wrapper">
                                    <label class="fw-bolder label1">Họ và tên</label>
                                    <span class="text-value">Trần Hiệp</span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 mb-1">
                                <div class="border-wrapper">
                                    <label class="fw-bolder label1">Số điện thoại</label>
                                    <span class="text-value">0903027848</span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 mb-1">
                                <div class="border-wrapper d-flex align-items-center">
                                    <label class="fw-bolder label1">Email</label>
                                    <div class="d-flex align-items-center text-value p-0">
                                        <span class="text-value">hieptran@glowpacific.com</span>
                                        <button type="button" class="btn btn-link text-success p-0" id="custom-image">Đã xác thực</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 mb-1">
                                <div class="border-wrapper">
                                    <label class="fw-bolder label1">Chức vụ</label>
                                    <span class="text-value">Giám đốc</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row px-2">
                <div class="col-md-12 col-12 mb-1 p-2">
                    <div class="card-header border border-info rounded p-0 bg-main">
                        <h4 class="card-title text-uppercase text-info mb-0 ms-2">Mô tả thông tin nhà tuyển dụng</h4>
                        <button type="button" class="btn user-edit text-info" data-bs-toggle="modal" data-bs-target="#editUser">
                            <i data-feather="edit"></i> Edit
                        </button>
                    </div>
                    <div class="card-body px-0 pb-0 my-25">
                        <!-- thông tin cơ bản -->
                        <form class="validate-form mt-2 pt-50">
                            <h4 class="card-title text-info text-uppercase">THÔNG TIN CƠ BẢN</h4>
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-1">
                                    <div class="border-wrapper">
                                        <label class="fw-bolder label">Tên công ty</label>
                                        <span class="text-value">CÔNG TY TNHH ÁNH DƯƠNG THÁI BÌNH</span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 mb-1">
                                    <div class="border-wrapper">
                                        <label class="fw-bolder label">Loại hình công ty</label>
                                        <span class="text-value">CÔNG TY TNHH HAI THÀNH VIÊN TRỞ LÊN</span>
                                    </div>
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <label class="form-label fw-bolder">Mô hình doanh nghiệp</label>
                                    <input type="text" class="form-control" value="Công ty mẹ" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <label class="form-label fw-bolder">Địa chỉ kinh doanh</label>
                                    <input type="text" class="form-control" value="TP.Hồ Chí Minh" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <label class="form-label fw-bolder">Số lượng nhân viên</label>
                                    <input type="text" class="form-control" value="Dưới 20" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <label class="form-label fw-bolder">Hệ thống chất lượng</label>
                                    <input type="text" class="form-control" value="• ISO 9001" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <label class="form-label fw-bolder">Loại hình kinh doanh</label>
                                    <input type="text" class="form-control" value="Dịch vụ" />
                                </div>
                                <div class="col-9 col-md-9 mb-1">
                                    <label class="form-label fw-bolder">Lĩnh vực kinh doanh</label>
                                    <input type="text" class="form-control" value="• Bất động sản • Xây dựng" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="Nông nghiệp" />
                                </div>
                                <div class="col-9 col-md-9 mb-1">
                                    <input type="text" class="form-control" value="• Trồng trọt • Chăn nuôi • Thủy sản" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="Thương mại" />
                                </div>
                                <div class="col-9 col-md-9 mb-1">
                                    <input type="text" class="form-control" value="• Bán lẻ • Bán buôn" />
                                </div>

                            </div>
                        </form>

                        <!-- thông tin bổ sung -->
                        <form class="validate-form mt-2 pt-50">
                            <h4 class="card-title text-info text-uppercase">THÔNG TIN BỔ SUNG</h4>
                            <div class="row">
                                <div class="col-3 col-md-3 mb-1">
                                    <label class="form-label fw-bolder">Đơn vị trực thuộc</label>
                                    <input type="text" class="form-control" value="Chi nhánh" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <label class="form-label fw-bolder">Địa chỉ kinh doanh</label>
                                    <input type="text" class="form-control" value="TP.Hồ Chí Minh" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <label class="form-label fw-bolder">Số lượng nhân viên</label>
                                    <input type="text" class="form-control" value="Dưới 10" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <label class="form-label fw-bolder">Hệ thống chất lượng</label>
                                    <input type="text" class="form-control" value="• ISO 22000 • ISO 14000" />
                                </div>

                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="Công ty con" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="Tỉnh Bình Định" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="Dưới 60" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="• VietGAP" />
                                </div>

                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="Nhà máy" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="Tỉnh Hà Nam" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="Dưới 20" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="• ISO 22000 • ISO 14000" />
                                </div>

                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="Văn phòng đại diện" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="TP.Hồ Chí Minh" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="Dưới 10" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="• ISO 14000 • HACCP" />
                                </div>

                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="Văn phòng đại diện" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="TP.Hồ Chí Minh" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="Dưới 70" />
                                </div>
                                <div class="col-3 col-md-3 mb-1">
                                    <input type="text" class="form-control" value="• HACCP" />
                                </div>
                            </div>
                        </form>
                        <!--/ form -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>